# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Node dependencies (The heavy stuff)
node_modules/
dist/

# Ignore Environment variables (Security)
.env

# Optional: Ignore the database if you want (but for now, keeping it is fine)
# backend/database.db